<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nacionalidade</ion-title>
    <ion-button color="light" fill="clear" slot="end" (click)="doButtonSearch()">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar *ngIf="!isHidden" placeholder="Search" debounce="1000" (ionChange)="doSearchChange($event)"></ion-searchbar>
  <ion-card *ngFor="let nacionalidade of nacionalidades">
    <ion-item class="ion-activated" (click)="linkVinho(nacionalidade.id)">
      <ion-avatar slot="start">
        <ion-img src="https://lwine.mar-developer.com/img/pais/{{nacionalidade.foto.foto[0]}}"></ion-img>
      </ion-avatar>
      <ion-label>{{ nacionalidade.pais }}</ion-label>
      <ion-badge slot="end">{{ nacionalidade.qt_vinho }}</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>