.imgIcon {
    text-align: center;
    color: Black; 
    text-shadow: 1px 1px White;  
    margin-bottom: 20px;  
}

.center {
    display: block;
    margin: auto;
    width: 50%;
   }

.logo {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 25px;
   }   